/**
 * Site header
 */
 .site-header {
	padding-top: $spacing-unit;

	@include media-query($on-laptop) {
    padding-top: $spacing-unit / 2;
  }
}

.site-title {
  @include relative-font-size(1.5);
  font-weight: bold;
	line-height: 1;
	letter-spacing: -1px;

  &,
  &:visited {
    color: $grey-color-dark;
  }
}

.site-nav {
	margin-top: 8px;
	font-size: 0;
	// line-height: 1;

  .page-link {
		@include relative-font-size(1);
    line-height: 1;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
			&:after {
				margin: 0 6px;
				content: "•";
				display: inline-block;
			}
    }
  }
}



/**
 * Site footer
 */
.site-footer {
	@include relative-font-size(0.8);
	padding-bottom: $spacing-unit;
	line-height: 1;

	@include media-query($on-laptop) {
    padding-bottom: $spacing-unit / 2;
  }
}


/**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
	@include relative-font-size(2);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.2);
}



/**
 * Posts
 */
.post-header {
}

.post-title, .post-list-heading {
	@include relative-font-size(2);
  line-height: 1;
	font-weight: bold;
}

.post-content {
	margin-bottom: $spacing-unit;

	h1, h2, h3, h4, h5 {
		font-weight: bold;
	}

	h1 {
		@include relative-font-size(1.75);
	}

  h2 {
    @include relative-font-size(1.25);
  }

  h3 {
    @include relative-font-size(1);
  }

  h4 {
    @include relative-font-size(1);
  }
}
